$Font_Style: normal 18px/26px "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$Header_Back_Image: url("../img/header_background_v2.jpg");
$Buttons_Color: #0401AC;
$Article_Back_Color: #ffffff;
$Article_H_Color: #607D8B;
$Article_Border: 1px solid #CFD8DC;
$Article_Descr_Color: #BDBDBD;
$Article_Text_Color: #757575;
$Main_Background: #EEF3FA;
$H_Button_A_Color: #FF5722;
$Button_Hover: #121147;
$A_Header_Border: 2px solid #CFD8DC;
$Nav_Hover: #CFD8DC;