$Font_Style: normal 300 15px/24px 'Roboto', 'Ubuntu', 'Cantarell', Helvetica ,sans-serif;
$Header_Back_Image: url("../img/header_background_v1.jpg");
$Buttons_Color: #01ACAC;
$Article_Back_Color: #EFEFEF;
$Article_H_Color: #1697a6;
$Article_Border: 1px solid #617d8a;
$Article_Descr_Color: #EA0303;
$Article_Text_Color: #000000;
$Main_Background: #EEF3FA;
$H_Button_A_Color: $Main_Background;
$Button_Hover: #085a5a;
$A_Header_Border: 2px solid #617d8a;
$Nav_Hover: #617d8a;